@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Noto+Sans&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.main-loginAdm {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-colunm {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-colunm > h1 {
    font-size: 3vw;
    color: #77ffc0;
    margin-left: 3.5vw;
}

.admImg {
    width: 35vw;
}

.right-colunm {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2481;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #00ff88;
    font-weight: bold;
    margin: 0;
}

.text-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.text-main > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.text-main > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.text-main > input::placeholder {
    color: #f0ffff94;
}

.textError_php {
    display: none;
    color: #f2f2f2;
    font-size: 12px;
    transition: all 0.3s ease;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 3%;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12p0x #00ff8052;
}

.btn-login:hover {
    color: #2b134b;
    background: #00ff88;
    transform: translate(-3px);
}

legend {
    margin: 3px;
    padding: 2.5px 0px;
    color: #f0ffffde;
    font-size: 15px;
}

.btn-registro {
    margin: 2.5px;
    border: none;
    background: #2b134b;
    color: #00ff88;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;
}

@media only screen and (max-widht: 950px){
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-widht: 600px){
    .main-loginAdm {
        flex-direction: column;
    }

    .left-colunm > h1 {
        display: none;
    }
}